name: Build Android APK
on: [workflow_dispatch] # Ini agar kita bisa klik tombol manual

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Install Dependencies
        run: |
          pip install -r requirements.txt

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.19.0' # Versi stabil

      - name: Build APK with Flet
        run: |
          flet build apk --verbose

      - name: Upload APK to Github
        uses: actions/upload-artifact@v4
        with:
          name: WiFi-Scanner-APK
          path: build/**/*.apk
